h1 {
    background-color:darkolivegreen; 
}
body {
    margin: 0px;
}
nav {
    background-color: aqua;
    font-family: cursive;
    display: flex;
    justify-content: right;
}
nav a {
    color:brown; 
    background-color: gray;
    border-radius: 15px;
    border-width: 20px;
}
nav a:hover {
    background-color: black;
}

footer {
    background-color: aqua;
    font-family: cursive;
    display: flex;
    justify-content: center;
}

footer a {
    color: brown;
    background-color: aliceblue;
}
footer a:hover {
    background-color: black;
}

.class1 { 
    background-color: white;
    padding: 15px;
    font-family: 'Roboto';
    color: darkgreen;
    font-size: x-large;
    text-align: center;
}

.class2 {
    background-color: darkslategray;
    font-family: 'Bebas Neue', sans-serif;
    color: lightgray;
    font-size: medium;
    text-align: center;
}

a {
    color: fuchsia;
    text-decoration: none;
}
a:hover {
    color:coral;
    background-color: black;
}

@font-face {
    font-family: 'Roboto' ;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
    color: yellow;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
}

hr {
    border-width: 5px;
    border-style: dotted;
}

.header1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 75px;
    width: 50%;
    border-radius: 15spx;
}

.header2 {
    position: absolute;
    top: 0px;
    left: 50%;
    height: 75px;
    width: 30%;
}

.languages {
    height: 100px;
    width: 100px;
    border-radius: 15px;
}

.skills {
    height: 150px;
    width:300px;
    border-radius: 15px;
}

.leadership {
    height: 150px;
    width: 300px;
    border-radius: 15px;
}

.card {
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: slategray;
    outline: none;
    padding: 3%;
    font-size: large;
    text-align: left;
}
.card-image {
    height: 1000px;
}

.three-col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  
ul {
    display: grid;
}

dl {
    display: grid;
}

.one-col {
    display: flex;
    flex-direction: column;
}