h1 {
     
    position: relative;
    width: 100%;
    color: black;
    justify-self: center;
    
}
h2 {
    position: relative;
    color: black;
}
body {
    margin: 0px;
}
nav {
    background-color: darkgray;
    font-family: cursive;
    display: flex;
    justify-content: right;
}
nav a {
    color:black; 
    background-color: gray;
    border-radius: 15px;
    border-width: 20px;
    position: relative;
}
nav a:hover {
    background-color: black;
    border-radius: 15px;
}

footer {
    background-color: lightgray;
    font-family: cursive;
    display: flex;
    justify-content: center;
}

footer a {
    color: brown;
    background-color: lightseagreen;
}
footer a:hover {
    background-color: black;
}

.class1 { 
    background-color: gray;
    padding: 150px;
    font-family: 'Roboto';
    color: darkgreen;
    font-size: medium;
    text-align: center;

}

.profilePic {
    border-radius: 15px 15px 15px 15px;
   
}

.class2 {
    background-color: darkslategray;
    font-family: 'Bebas Neue', sans-serif;
    color: lightgray;
    font-size: medium;
    text-align: center;
    position: relative;
}

a {
    color: darkgreen;
    text-decoration: none;
}
a:hover {
    color:coral;
    background-color: black;
}

@font-face {
    font-family: 'Roboto' ;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
    color: yellow;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
}

hr {
    border-width: 5px;
    border-style: dotted;
}

.header1 {
    position: absolute;
    display: flex;
    left: 0;

}

.header2 {
    position: absolute;
    right: 0;
    display: flex;
}

.languages {
    height: 100px;
    width: 100px;
    border-radius: 15px;
}

.skills {
    height: 150px;
    width:300px;
    border-radius: 15px;
}

.leadership {
    height: 150px;
    width: 300px;
    border-radius: 15px;
}

.card {
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: slategray;
    outline: none;
    padding: 3%;
    font-size: large;
    text-align: left;
    display: flex;
}
.card-image {
    height: 1000px;
}

.three-col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  
ul {
    display: grid;
}

dl {
    display: grid;
}

.one-col {
    display: grid;
    flex-direction: column;
    position: center; 
    justify-content: center;
    padding: 10px;
    justify-content: center;
    text-align: center;
}

input {
    border-radius: 15px;
    background-color: lightgray;
}

textarea {
    border-radius: 15px;
    background-color: lightgray;
    padding: 20px;
}
